body{
	background-color: rgba(255,255,255,0.5) !important;
	height: 590px;
	margin: 0px;
	width: 1349px;
	overflow-x: hidden !important;
}

.top-navbar{
	background-color: rgb(52, 152, 219);
	height: 8.5%;
	width:101.25%;
	margin: 0 !important;
}
.gly{
	float: left;
	margin: 1.5%;
	color: white;
}
#glyphy-pos-div1{
	background-color: rgb(52,159,219);
	box-sizing:border-box;
	position: relative;
	left: 0%;
	top: 7%;
	padding: 1%;
	width: 3.5%;
	height: 8%;
	z-index: 15;
}
.arrow:after{
	content: "";
	position: absolute;
	top: 42%;
	right: -7px;
	border-style: solid;
	border-width: 0 7px 7px 0;
	border-color: white transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.arrow:before{
	content: "";
	position: absolute;
	top: 42%;
	right: -4px;
	border-style: solid;
	border-width: 0 7px 7px 0;
	border-color: white transparent;
	display: block;
	width: 0;
	z-index: 0;
	-webkit-transform:rotate(45deg);
}
#glyphy-pos-div2{
	background:rgb(52,159,219);
	box-sizing:border-box;
	position: relative;
	left: 0%;
	top: 7%;
	padding: 1%;
	width: 3.5%;
	height: 8%;
	z-index: 15;
}
#glyphy-pos-div3{
	background:rgb(52,159,219);
	box-sizing:border-box;
	position: relative;
	left: 0%;
	top: 7%;
	padding: 1%;
	width: 3.5%;
	height: 8%;
	z-index: 15;
}
#glyphy-pos-div4{
	background:rgb(52,159,219);
	box-sizing:border-box;
	position: relative;
	left: 0%;
	top: 7%;
	padding: 1%;
	width: 3.5%;
	height: 8%;
	z-index: 15;
}
.glyphicons:hover{
	cursor: pointer;
	border:1px solid white;
}
#logo{
	height: 100%;
	float: left;
	width: 8%;
	margin-left: 1%;
	height: 20px;
	width: 20px;
}
#topmenubar{
	position: relative;
	top: -26%;
	left: 5%;
	height: 19%;
	width: 28%;
	padding-top:1%;
	padding-left: 1.5%;
	margin-top: 0.5%;
	-webkit-box-shadow:-1px 1px 5px 0.5px rgb(52, 152, 219);
	background-color: white;
	border-radius: 4px;
}
#catselect{
	height: 100%;
	width: auto;
	margin-right: 0.1%;
}

#cattitle{
	position: relative;
	margin-left: 0.3%;
	font-size: 1.2em;
	font-weight: bold;
}
.button{
	
	text-align: center;
	vertical-align: middle;
}
#cat{
	height: 27%;
	width: 50%;
	position: relative;
	left: 1%;
	top: 18%;
	padding-top: 0.8% !important;
	font-size: 0.95em !important;
}
#catsubmit{
	position: relative;
	left: 60%;
	top: -0.6em;
	height: 26%;
	width: 22%;
	padding-top: 0px;
	padding-left: 2% !important;
	padding-right: 2%;
}

#subcatselect{
	display: none;
	position:relative;
	left: 5%;
	top: -21%;
	background-color: white;
	height: 19%;
	width: 28%;
	padding-top:1%;
	padding-left: 1.5%;
	margin-top: 0.5%;
	border-radius: 4px;
	-webkit-box-shadow:-1px 1px 5px 0.5px rgb(52, 152, 219);
}
#subcattitle{
	position: relative;
	margin-left: 0.3%;
	font-size: 1.2em;
	font-weight: bold;
}
#subcat{
	height: 27%;
	width: 50%;
	position: relative;
	top: 14%;
	left: 1%;
	padding-top: 0.8% !important;
	font-size: 0.95em !important;

}
.btn-info{
	background-color: rgb(52, 152, 219) !important;
}
#submit{
	width: 22%;
	height: 26%;
	position: relative;
	top: -0.9em;
	left: 60%;
	padding-top: 0px;
	padding-left: 2% !important;
	padding-right: 2%;

}
#prodtype{
	display: none;
	position: relative;
	top: -17%;
	left: 5%;
	height: 19%;
	width: 28%;
	background-color: white;
	padding-top:1%;
	padding-left: 1.5%;
	margin-top: 0.5%;
	border-radius: 4px;
	-webkit-box-shadow:-1px 1px 5px 0.5px rgb(52, 152, 219);

}
.titlename{
	position: relative;
	top: 0.5em;
	left: 0%;
	font-size: 1.2em;
	font-weight: bold;
}
#subcateg{
	position: relative;
	top: 19%;
	left: 1%;
	width: 50%;
	height: 27%;
	padding-top: 0.5% !important;
	font-size: 0.95em !important;
	padding-left: 4px !important;
}
.form{
	height: 50%;
}
#description{
	display:none;
	position: relative;
	top: -170.25%;
	left: 36%;
	height: 150%;
	width: 58%;
	-webkit-box-shadow:-1px 1px 5px 0.5px rgb(52, 152, 219);
	background-color: white;
	border-radius: 4px;
}
#destitlename{
	position: relative;
	top: 1em;
	left: 5%;
	height: auto;
	font-size: 1.2em;
	font-weight: bold;
}
#destitle{
	position: relative;
	top: 1.5em;
	left: 5%;
	width: 85% !important;
	height: 8%;
	font-size: 1.2em;
	vertical-align: middle;
	padding-left: 1%;
	padding-top: 1%;
	
}
#desname{
	position: relative;
	top: 2.6em;
	left: 5%;
	height: auto;
	font-size: 1.2em;
	font-weight: bold;
}
#descriptiontext{
	position: relative;
	top: 4.5em;
	left: 5%;
	height: 15em;
	width: 87%;
	padding: 0.5em;
}
.note-editor{
	position: relative!important;
    top: 12%!important;
  	width: 85%!important;
  	margin-left: 5%!important;
  	height: 62%!important;
}
#laterform{
	display:none;
	position: relative;
	left: 36%;
	top: -158%;
	background-color: white;
	padding-left:2.5%;
	height: 150%;
	width: 58%;
	border-radius: 4px	;
	margin-bottom: 6%;
	-webkit-box-shadow:0px -1px 10px 0.5px rgb(52, 152, 219);
}

#tabletitle{
	position: relative;
	top: 2em;
	left: 4%;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.4em;
}
#formforsports{
	position: relative;
	top: 4em;
	left: 4%;
	border-spacing: 5px;
	height: 69%;
	width: 80%;

}
#formsports tr {
	margin: 2% !important;

}
#subcatsubmit{
	position: relative;
	left: 71%;
	top: 5em;
	width: 14%;
	height: 7%;
	padding-top: 4px;
}

.fields{
	padding-left:10% !important; 
	width: 68% !important; 
}

.names{
	padding-right: 8%;
}
#imagetitle{
	position: relative;
	top: 2%;
	left: 2%;
	font-weight: bold;
	font-size: 1.2em;
	
}

#bot-nav{
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: white;
	z-index: 20;
	background-color: rgb(52,109,255);
}

@media only screen and (max-width: 360px){
*{
	}
}

/* 
/////////////////////////////////////////////
///////// Style for Profile Page ///////////
///////////////////////////////////////////
 */

#profile{
	position: relative;
	left: 100%;
	top: -102.25%;
	background-color: white;
	height:100%;
	width: 100%;
	z-index: 1;
	display: none;
	border-radius: 10px;
}
#personinfo{
	position: relative;
	top: 8%;
	left: 10%;
	height: 42%;
	width: 45%;
	-webkit-box-shadow: 0px 0px 15px 2px rgb(52,159,219);
	border-radius: 8px;
	
}
#personinfo h3{
	float: right;
	margin-right: 26%;

}
#prof-pic{
	position: relative;
	top: 3.5em;
	left: 8%;
	height: 160px;
	width: 160px;
	border-radius: 90px;
}
#personinfo ul{
	list-style-type: none;
	position: relative;
	top: -35%;
	left: 35%;
}
#personinfo ul li{
	padding-top: 1%;
}
.glyphys{
	padding-right: 1% !important;
}
#maps{
	height: 61%;
	width: 38%;
	position: relative;
	left: 59%;
	top: -35%;
	border-radius: 5px;

}


/*
///////////////////////////////////////////////
//////// Style for seller Login page /////////
/////////////////////////////////////////////
*/

#top-navbar{
	background-color: rgb(52, 152, 219);
	height: 11%;
	width:100%;
	margin: 0;
}
#logo{
	height: 100%;
	float: left;
	width: 10%;
}

#signup{
	float: right;
	margin-right: 4%;
	margin-top: 1%;
	font-size: 1.5em;
	color: white;
	padding: 6px;
	height: 44%;
	width: 10.5%;
	border-radius: 5px;
	background-color: rgb(52, 152, 219);
	color: white;
	border:1px solid white;
}

#signup:hover{
	background-color: white;
	color: rgb(52, 152, 219);
	

}

#logindiv{
	position: relative;
	top: 24%;
	left: 32%;
	background-color: white;
	border-radius: 5%;
	width: 32%;
	height: 34%;
	padding: 2%;
	margin-right:0%;
	-webkit-box-shadow:2px -2px 7px 0.25px rgb(52, 152, 219);
	z-index: 10;
}

@font-face{ font-family: "myfont"; src:url('fonts/Algerian.ttf');}

#logindiv h2{
	color: rgb(52, 152, 219);
	font-family: myfont;
	margin: 2%;
	width: 18%;
	margin: 0%;
	border-bottom: 1px solid rgb(52, 152, 219);
}

#logindiv table{
	margin: 2%;
	margin-top: 6% !important;
	font-size: 1.2em;
	height: auto;
}
#logindiv table tr td{
	height: auto;
}
input{
	padding-left: 4px;
	width: 98%;
	font-size: 0.8em;
	height: 1.2em;
}

.login{
	float: right;
	margin-top: 4%;
	background-color: rgb(52, 152, 219);
	color: white !important;
	height: 2em;
	width: 30%;
	border-radius: 50%;
	font-weight:bold;
	font-family: helvectia;
	font-size: 1em; 
	text-align: center;
	border: 1px solid rgb(52, 152, 219);
}
.login:hover{
	background-color: white;
	color: rgb(52, 152, 219) !important;
	-webkit-box-shadow: 4px -4px 10px 0px rgb(52, 152, 219);
}
.col1{
	width: 42%;
	overflow: hidden;
}

#request{
	z-index: 1000;
	opacity:;
	background-color: rgba(81, 113, 217,0.2);
	display: none;
	position: absolute;
	top: 0%;
	left:0%;
	height: 100%;
	width: 100%;
}
#close{
	float: right;
	font-size: 2em;
	color: rgb(52, 152, 219);
	margin: 2%;
	margin-right: 6%;
	padding: 0.3%;
	border-radius: 0.4em;
	position: relative;
	top: 2em;
}
#close:hover{
	cursor: pointer;
	opacity: 1 !important;
	border-bottom:2px solid rgb(52, 152, 219);
	border-top: 2px solid rgb(52, 152, 219);
}
#request h2{
	color: rgb(52, 152, 219);
	position: relative;
	top: 5em;
	font-family: algerian;
	left: 0%;
	border-bottom: 1.75px solid rgb(52, 152, 219);
	width: 11.5%;
	padding-bottom: 0.25%;
}
#request table{
	position: relative;
	top:7em;
	display: block;
	font-size: 1.2em;
	width: 32%;
	height: 34%;
	background-color: white;
	-webkit-box-shadow:0px 0px 20px 3px rgb(52, 152, 219);
	border-radius: 2%;
	opacity: 0.8 !important;
	padding: 2%;
	font-weight: bold;
}
#request table input{
	font-weight: bolder;
	color: rgb(52, 152, 219);
}
